
.popuptext {
    position: fixed;
    top: 50%;
    left: 20%;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
}
